*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Abril Fatface', cursive;
background: linear-gradient(#C7E2FF, #E2F7F3);
}
.cabecalho {
    background-color: white;
    color: rgb(58, 52, 52);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0 ;
}

.cabecalho-imagem{
    width: 5%;
    margin-left: 40px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: #2C1F1F;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

.container1-imagem{
    width: 30%;
}
.cabecalho-lista-item a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
}
#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.container1-conteudo{
    width: 35%;
}
.container1-titulo{
    margin-bottom: 24px;
}

#container2{
    padding: 24px 0;
}
.container2-image{
    width: 230px;
}

.container2-icone{
    width: 24px;
    padding: 4px 8px;

}
.container2-div{
    text-align: center;
    padding: 50px 0;
}
.container2-titulo{
    text-align: center;
    padding: 50px 0;
}
.container2-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.footer{
    display: flex;
    align-items: center;
  justify-content: center;
    background-color: #1D263B;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    
}
.footer a{
    text-decoration: none; 
    width: 50%;
    color: rgb(238, 236, 236);
}